.featured{
    @include flex-center-vert;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;

    &__logo{
        width: 9.5%;
    }

    /**************************/
    /* BELOW 480px (Mobile) */
    /**************************/

     @include respond-to(xs){
        display: none;
    }

}
